@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .main-site-padding {
    padding-left: 20px;
    padding-right: 20px;
  }

  @screen sm {
    .main-site-padding {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  @screen md {
    .main-site-padding {
      padding-left:  70px;
      padding-right: 70px;
    }
  }

  @screen lg {
    .main-site-padding {
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  @screen xl {
    .main-site-padding {
      padding-left: 150px;
      padding-right: 150px;
    }
  }

  @screen 2xl {
    .main-site-padding {
      padding-left: 250px;
      padding-right:  250px;
    }
  }
}